OpenJazz
openjazz.cfg
openjazz.log
*.exe
*.a
*.o

.mk-stamp-depr

# CMake
CMakeCache.txt
CMakeFiles/
*.cmake
!/builds/cmake/*.cmake
ext/Makefile
build.ninja
CMakeUserPresets.json

build-debug/
build-*-debug/
build-release/
build-*-release/

# homebrew
*.elf

# wii
*.dol

# psp
*.prx
PARAM.SFO
EBOOT.PBP

# 3ds
*.3dsx
*.smdh
*.cia

# RISC OS
/res/riscos/\!OpenJazz/data/*
*,ff8
*,e1f

# macos
.DS_Store

# Android
builds/android/.gradle/
builds/android/app/.cxx/
build-android/

# distribution archives
openjazz-*.tar.*
OpenJazz-*.zip

# generated documentation
/doc/html
/res/unix/OpenJazz.6
