*.o
openjazz
OpenJazz
openjazz.cfg
*.exe

# psp
*.elf
*.prx
PARAM.SFO
EBOOT.PBP

# 3ds
*.3dsx
*.smdh
*.d
/build/

# RISC OS
riscos/\!OpenJazz/data/*
riscos/\!OpenJazz/openjazz.000
*,ff8
*,e1f

.DS_Store

# autotools
/build-aux/
.deps/
.dirstamp
Makefile.in
aclocal.m4
/autom4te.cache/
config.log
config.status
configure

# distribution
openjazz-*.tar.*
OpenJazz-*.zip

# generated documentation
/doc/html
/unix/OpenJazz.6
