*.o
openjazz
OpenJazz
openjazz.cfg

# psp
*.elf
*.prx
PARAM.SFO
EBOOT.PBP

# 3ds
*.3dsx
*.smdh
*.d
/build/

.DS_Store

# autotools
.deps/
.dirstamp
Makefile.in
aclocal.m4
autom4te.cache
config.log
config.status
depcomp
install-sh
configure
missing

openjazz-*.tar.*
OpenJazz-*.zip
